<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>https://yanziyu.site</title>
    
    <!-- 引入自定义样式表 -->
    <link rel="stylesheet" href="src/site/styles/user/custom-style.css"> </head>
<body>
    <h1>示例标题</h1>
    <p>这是使用 KingHwa_OldSong 字体的段落。</p>
</body>
</html>
