<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>yanziyu.site</title>
</head>
<body>
  <script type="text/javascript">
    var password = prompt("请输入密码:");
    if (password !== "886586") {
      document.body.innerHTML = "Access Denied.";
    } else {
      document.body.style.display = "block";
    }
  </script>
</body>
</html>
