<script src="https://giscus.app/client.js"
        data-repo="gwen2005/law-fishfish"
        data-repo-id="R_kgDOMvoNzg"
        data-category="General"
        data-category-id="DIC_kwDOMvoNzs4CjMIp"
        data-mapping="pathname"
        data-strict="1"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="preferred_color_scheme"
        data-lang="zh-CN"
        crossorigin="anonymous"
        async>
</script>
