---
permalink: /searchIndex.json
eleventyExcludeFromCollections: true
---
// 使用 prompt 要求用户输入密码
const password = prompt("Please enter the password:");

// 检查密码是否正确
if (password !== "886586") {
    document.body.innerHTML = "Access Denied.";
} else {
    // 如果密码正确，则继续加载应用
    document.body.style.display = "block";
}

[{% for post in collections.note %}
{
		"title": {% if post.data.title %}{{post.data.title | jsonify | safe }}{% else %}{{post.fileSlug | jsonify | safe }}{% endif %},
		"date":"{{ post.date }}",
		"url":"{{ post.url }}",
		"content": {{ post.templateContent | striptags(true) | link | jsonify | safe  }},
		"tags": [{{post.templateContent | link | searchableTags | safe }} {% if post.data.tags %}{% for tag in post.data.tags %}"{{tag|validJson}}"{% if not loop.last %},{% endif %}{% endfor %}{% endif %}]
}{% if not loop.last %},{% endif %}
{% endfor %}]
